/* region ## fundamental */
html {
    background: #333;
    color: #ddd;
    font-family: sans-serif;
}
/* endregion */

/* region ## chart */
.chart__box {
    width: 300px;
}

.chart__donut-base {
    fill: #333;
}

.chart__donut-ring,
.chart__donut-segment {
    fill: transparent;
}

.chart__donut-ring,
.chart__donut-segment {
    stroke-width: 5;
}

.chart__donut-ring {
    stroke: #ddd;
}

.chart__donut-segment {
    transition-property: stroke, stroke-width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.chart__donut-segment:hover {
    stroke-width: 7;
}

/* region ### segments */
.chart__donut-segment--1 {
    stroke: #fc0;
    clip-path: polygon(50% -20%, 120% -20%, 120% 70%, 50% 50%);
}

.chart__donut-segment--1:hover {
    stroke: #e1ae00;
}

.chart__donut-segment--2 {
    stroke: #09d;
    clip-path: polygon(50% 50%, 120% 70%, 120% 120%, 20% 120%);
}

.chart__donut-segment--2:hover {
    stroke: #007ebf;
}

.chart__donut-segment--3 {
    stroke: #d32;
    clip-path: polygon(50% 50%, 20% 120%, -20% 120%, -20% -20%, 50% -20%);
}

.chart__donut-segment--3:hover {
    stroke: #bf3322;
}
/* endregion */
/* endregion */

/* region ## icons */
.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    border: 0;
    border-right: 3px;
    height: 50px;
    background: #999;
}

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button:hover {
    background: #fc0;
    color: #d32;
}

.button__icon {
    width: 30px;
    height: 30px;
    fill: #333;
}

.button:hover .button__icon {
    fill: #d32;
}

.button__caption {
    padding: 5px;
    font-weight: 600;
}

.button,
.button__icon {
    transition-property: background, color, fill, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

/* region ### changeable-icon */
.button--changeable-icon .button__icon--secondary {
    margin-left: -30px;
    opacity: 0;
}

.button--changeable-icon:hover .button__icon--secondary {
    opacity: 1;
}

.button--changeable-icon:hover .button__icon--primary {
    opacity: 0;
}
/* endregion */
/* endregion */
