.app-scene-1__bg {
  height: 100%;
}

.app-scene-1__bg::before {
  content: '';
  position: absolute;
  inset: 0 0 0 auto;
  width: var(--banner-max-width);
  background-image: url(../../assets/images/bg-dirty.webp);
  background-position: -600px 0;
  background-repeat: no-repeat;
  background-size: auto 1500px;
}

.app-scene-1__bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(90deg, #006822 0%, rgba(0, 104, 34, 0) 100%);
}

.app-scene-1__bacteria-group-container {
  position: absolute;
  inset: 0 0 0 auto;
  width: 540px;
}

.app-scene-1__bacteria-1-container {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 150px;
  top: 382px;
  right: 100px;
}

.app-scene-1__bacteria-1 {
  width: 100%;
  transform: rotate(23deg);
}

.app-scene-1__bacteria-2-container {
  position: absolute;
  width: 200px;
  top: 190px;
  right: 330px;
}

.app-scene-1__bacteria-2 {
  width: 100%;
  transform: rotate(21deg);
}
